.container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #1a1e43;
    position: relative;
}

.logo img{
    width: 150px;
    height: 90px;
    position: absolute;
}

.options ul{
    display: flex;
    justify-items: flex-end;
}

.options ul li{
    list-style: none ;
}